section {
  display: flex;
  align-items: center;
}

.example-label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  min-width: 120px;
}

.example-button-row {
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
}

.example-form {
  width: 100%;
  max-width: 400px; /* Ajusta el ancho máximo del formulario */
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: agrega un efecto de sombra */
  background-color: #fff; /* Opcional: agrega un fondo blanco */
  border-radius: 8px; /* Opcional: bordes redondeados */
}

.login-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para que ocupe todo el espacio sin distorsionarse */
}
