mat-list-item.selected {
  background-color: #1976d2;
  color: #fff;
  font-weight: bold;
}
.example-spacer {
  flex: 1 1 auto;
}

.example-sidenav {
  padding: 20px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.example-container {
  width: 100%;
  height: 92%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#scroll-nav {
  max-height: 100%;
  overflow-y: auto;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 140px;
}
